html {
    background: linear-gradient(177.52deg, #090909 2.11%, #1b1b1b 81.34%);
    background-repeat: no-repeat;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Mansalva', cursive;
}

h2,
footer {
    font-family: 'Mansalva';
}

.itens-comprados {
    text-decoration: line-through;
}


input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

.button {
    background: linear-gradient(177.52deg, #04aef1 2.11%, #182a4a 81.34%);
    background-repeat: no-repeat;
    height: 100%;
    font-weight: 800;
    color: aliceblue;
    margin: 15px;
}

.listaDeCompras {
    background: linear-gradient(177.52deg, #04aef1 2.11%, #141f32 81.34%);
    background-repeat: no-repeat;
    height: 100%;
    color: aliceblue;
    font-weight: 800;
    font-size: 25px;
    padding: 5px;
}

.listaDeCompras {
    background: linear-gradient(177.52deg, #04aef1 2.11%, #182a4a 81.34%);
    background-repeat: no-repeat;
    height: 100%;
    font-weight: 800;
    font-size: 25px;
    padding: 5px;
}

.desenvolvimento {
    color: rgb(219, 246, 247);
    font-weight: 800;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}